*{
    margin: 0px auto;
    padding: 0px;
}

p{
    text-align: center;
    margin: 3vh;
    font-size: 2.5vh;
}

h2{
    color: red;
    text-align: center;
    font-size: 4vh;
    margin-top: 15vh;
}

img{
    cursor: pointer;
    width: 30vh;
}

#box{
    display: block;
}

#box2{
    text-align: center;
    display: none;
}

video{
    width: 50%;
    height: 50%;
    margin-top: 13vh;
}